In [1]:
import pandas as pd

veri = {'isim': ['Ahmet', 'Ayşe', 'Mehmet', 'Zeynep', 'Kemal'],
        'yas': [25, 30, 22, 28, 35],
        'sehir': ['İstanbul', 'Ankara', 'İzmir', 'Bursa', 'Antalya']}

df = pd.DataFrame(veri)

print(df.head(3))

     isim  yas     sehir
0   Ahmet   25  İstanbul
1    Ayşe   30    Ankara
2  Mehmet   22     İzmir

In [2]:
print(df.tail(2))

     isim  yas    sehir
3  Zeynep   28    Bursa
4   Kemal   35  Antalya

In [3]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   isim    5 non-null      object
 1   yas     5 non-null      int64
 2   sehir   5 non-null      object
dtypes: int64(1), object(2)
memory usage: 252.0+ bytes
None

In [4]:
print(df.describe())

             yas
count   5.000000
mean   28.000000
std     4.949747
min    22.000000
25%    25.000000
50%    28.000000
75%    30.000000
max    35.000000

In [5]:
print(df.shape)

(5, 3)

In [7]:
print(df.loc[1, 'yas'])

30

In [8]:
print(df.iloc[2, 1])

22

In [9]:
print(df.groupby('sehir')['yas'].mean())

sehir
Ankara      30.0
Antalya     35.0
Bursa       28.0
İstanbul    25.0
İzmir       22.0
Name: yas, dtype: float64

In [10]:
print(df.sort_values(by='yas', ascending=False))  # Yaşa göre azalan sırada sıralar

     isim  yas     sehir
4   Kemal   35   Antalya
1    Ayşe   30    Ankara
3  Zeynep   28     Bursa
0   Ahmet   25  İstanbul
2  Mehmet   22     İzmir

In [11]:
df_bos = pd.DataFrame({'sütun1': [1, 2, None, 4], 'sütun2': ['a', None, 'c', 'd']})
print(df_bos.dropna())

   sütun1 sütun2
0     1.0      a
3     4.0      d